{% extends "blog/base.html" %}
{% block content %}
<article class="d-flex content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.picture.url }}">
    <div class="flex-grow-1">
        <div class="article-metadata">
            <a class="me-2" href="{% url 'users-profile' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            {% if post.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog-post-update' post.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog-post-delete' post.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
{% endblock content %}